<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gitPub</title>
</head>

<body>
  <h1>At Foo Bar</h1>
  <h2><%=allDrinks.name.toUpperCase() %>
  <h3><%=allDrinks.price %></h3>
  <img src="<%=allDrinks.image%>" alt="">
  <br>
  
<a href="/drinks"><button>BACK</button></a>
  <style type="text/css">
    body {
      color: steelblue;
      background-color: whitesmoke;
    }

    img {
      height: 300px;
      width: 300px;
    }
  </style>
</body>

</html>